
<ion-view ng-init="init()">
  <ion-header-bar class="bar-style post-type">
    <a href='#/tab/home' ng-click="cancelTimer()">
      <button class="button button-icon button-clear button-dark ion-ios-arrow-back">
      </button>
    </a>
<!--<h2 id='home-bar' class="title">Me</h2> -->
  </ion-header-bar>

  <ion-content>
    <a id='home-a' ng-click="userDetail(Item.get('Owner').id)">
      <div class="item item-avatar">
        <img class='portrait' src="{{x.get('Owner').get("Profile").url()}}">
        <div id='user-time'>{{Item.createdAt}}</div>
        <h2>{{Item.get("Owner").get("username")}}</h2>
        <p><i class="icon ion-ios-location icon-site"></i>
        &nbspEvanston 500m</p>
      </div>
    </a>

    <div class="item item-body">
      <h2 class='item-title' style='margin-top:0px;'> {{Item.get("Title")}}</h2>
      <p>
        {{Item.get("Desc")}}
      </p>
      <img class="full-image" ng-repeat="y in Item.get('ImageArry')" src={{y.url()}}>
    </div>
    <div class="item">
      <p>
        <a href="#" class="subdued">1 Like</a>
        <a href="#" class="subdued">5 Comments</a>
      </p>
    </div>

    <div class="list">
      <div class="item item-divider">
      <a class="item item-avatar" href="#">
        <img src="../img/mike.png">
        <h2>Mike</h2>
        <p>Thanks for helping me!</p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p></p>
      </a>
      <a class="item item-avatar" href="#">
        <img src="venkman.jpg">
        <h2>Venkman</h2>
        <p>Back off, man. I'm a scientist.</p>
      </a>


      </div>

    </div>



  </ion-content>
</ion-view>
