  <ion-view>
    <ion-header-bar class="bar-col bar bar-header">
    <a href='#/tab/home'>
      <button class="button button-clear button-text button-back"><i class='ion-ios-arrow-back'>&nbsp back</i></button>
    </a>
    <h2 id='home-bar' class="title">Me</h2>

    </ion-header-bar>

        <div class="protrait-back">
          <div class="wrapper">
          <div class="protrait"></div>
          <div id="myname">
            Ivy
            <img class='pro-gender' src="../img/female.png" alt="female" />
          </div>
        </div>
      </div>



      <ion-list>
        <ion-item>Hello!</ion-item>
        <ion-item>
          Link to detail page
        </ion-item>
        <ion-item>Hello!</ion-item>
        <ion-item>
          Link to detail page
        </ion-item>
      </ion-list>


    </ion-content>
  </ion-view>
