      <ion-modal-view>  
        <ion-header-bar class="bar-royal bar-header bar-positive bar">
          <h1 class="title">New Post</h1>
          <button class="button button-clear button-primary" ng-click="modal.hide()">Cancel</button>
        </ion-header-bar>
        <ion-content class="padding">
        <div class="list card">

        <button class = "button button-icon icon ion-camera" ng-click = showDetails()></button>
        <label class="item item-input">
        <textarea placeholder="Comments" rows = "10"></textarea>
        </label>                  
        </div>
        </div>
        </ion-content>
      </ion-modal-view>