
  <ion-view>

    <ion-header-bar class="bar-col bar bar-header">
      <h2 class="title rest-bar">Account</h2>
      <button class="button button-clear icon ion-ios-gear"></button>

    </ion-header-bar>

    <div class="">
      <img src="img/ivy.jpg" alt="" />
    </div>



    <ion-content>
    <ul class="list">
        <li class="item">
          <a class="item item-avatar item-header" href="#account">
              <img src="img/mike.png">
              <h2 >Venkman</h2>
              <p>
                Back. I am going to zhuang B.
              </p>
          </a>
        </li>
        <a href='#request'>
        <li class="item">
          Request
        </li>
        </a>
        <a href='#offering'>
        <li class="item">
          Offering
        </li>
        </a>
        <a href='#record'>
        <li class="item">
          Record
        </li>
        </a>
    </ul>


    <button class="button button-full button-outline button-stable" ng-click = "LogOut()">

      Log Out
    </button>

    </ion-content>
  </ion-view>
</script>
