<ion-view class='user-profile'>
    <ion-header-bar class="bar-style">
      <a href='#/tab/home'>
        <button class="button button-icon button-clear button-white ion-ios-arrow-back">
        </button>
      </a>
      <h2 class='title rest-bar'>Profile</h2>
    </ion-header-bar>

    <ion-content class='user-wrapper blur'>
      <div class="wrapper">
        <div style="background-image: url({{targetUser.get('Profile').url()}})" class="protrait"></div>
        <div id="myname">
          {{targetUser.get('username')}}
          <img class='pro-gender' src="" alt="female" />
        </div>
      </div>





<!--
    <div class="user-record row">
      <div class="col">
        <img class='record-img' src="../img/camera.png" alt="#" />
        <div class='record-num'>8</div>
      </div>
      <div class="col">
        <img class='record-img' src="../img/love.png" alt="#" />
        <div class='record-num'>1</div>
      </div>
      <div class="col">
        <img class='record-img' src="../img/act.png" alt="#" />
        <div class='record-num'>3</div>
      </div>
      <div class="col">
        <img class='record-img' src="../img/chat.png" alt="#" />
        <div class='record-num'>0</div>
      </div>


    </div>
-->


  </ion-content>
</ion-view>
