<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>
    <!--fonts-->
    <link href="https://fonts.googleapis.com/css?family=Oleo%20Script" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Roboto%3A400%2C500" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Merriweather%20Sans" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito%3A400%2C300" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Numans" rel="stylesheet" type="text/css">
    <!--css-->
    <link rel="stylesheet" href="/css/user-profile.css" media="screen" title="no title" charset="utf-8">
    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/side-menu.css" charset="utf-8">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">


    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>
    <script src="lib/ionic/js/ionic-angular.js"></script>
    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>
    <script src="js/ng-cordova.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
    <script type="text/javascript" src="http://www.parsecdn.com/js/parse-latest.js"></script>

    <!-- Backend Logic -->
    <script src="js/main.js"></script>
    <script src="js/Messages.js"></script>

    <!-- your app's js -->
    <script src="js/app.js"></script>
    <script src="js/controllers.js"></script>
    <script src="js/controllers/ModalCtrl.js"></script>
    <script src="js/services.js"></script>


  </head>

  <body ng-app="starter" ng-controller="MainCtrl">
<!--     <ion-nav-bar class="bar-royal">
      <ion-nav-back-button class="button-icon ion-arrow-left-c">
      </ion-nav-back-button> -->

    <ion-nav-view></ion-nav-view>


<!--登录页面-->



    <script id="templates/forgot-password.html" type="text/ng-template">
      <ion-view view-title="Forgot Password">
        <ion-content padding="true">
          <p>
            Return to <a href="#/sign-in">Sign-In</a>.
          </p>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/search.html" type="text/ng-template">
        <ion-view view-title="Search"  ng-init="init()">

          <ion-header-bar class="bar-style  bar">
          <h2 class="title rest-bar">Search</h2>

          <button class="button button-clear icon ion-log-in" ng-click="init()"></button>

          </ion-header-bar>

          <ion-content>
            <div class="list list-inset">
              <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
              </label>
            </div>

            <div class="list card"  ng-repeat="x in search_res" ng-click="Request(x.id,x.get('Title'))">
              <div class="item item-avatar">
                <img src="img/ben.png">
                <h2>{{x.get("Title")}}</h2>

                <p>{{x.get("Owner").get("username")}}</p>
              </div>
              <div class="item item-body">
                <p>{{x.get("Desc")}}</p>
              </div>
            </div>
          </ion-content>
        </ion-view>
    </script>

<!--Chat页面-->
    <script id="templates/chat.html" type="text/ng-template">
    <ion-view ng-init="reloadUser()">

        <ion-header-bar  class="bar-style bar ">
          <h2 class="title rest-bar">Messages</h2>
        </ion-header-bar>
        <ion-content >
          <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="x in users" ng-click="chatDetail(x)">
              <img src={{HeadProfile[x.get("username")]}}>
              <h2 >{{x.get("username")}}</h2>
              <div class="">
                <p>{{x.get("email")}}</p>
              </div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/chatDetail.html" type="text/ng-template">
      <ion-view cache-view="false">

        <ion-header-bar  class="bar-col bar bar-header">
          <h2 class="title rest-bar">{{toUser.get('username')}}</h2>
        </ion-header-bar>

        <div class="loader-center" ng-if="!doneLoading">
          <div class="loader">
            <i class="icon ion-loading-c"></i>
          </div>
        </div>

        <ion-content has-bouncing="true" class="has-header has-footer">

          <div ng-repeat="m in messages" class="message-wrapper"
               on-hold="onMessageHold($event, $index, message)">

            <div ng-if="currentUser.id !== m.id">

              <img  class="profile-pic left"
                    ng-src={{HeadProfile[toUser.get("username")]}} />

              <div class="chat-bubble left">

                <div class="message" ng-bind-html="m.get('Content')"r>
                </div>

                <div class="message-detail">
                  <span am-time-ago="m.createdAt"></span>
                </div>

              </div>
            </div>

            <div ng-if="currentUser.id == m.id">

              <img class="profile-pic right"
                   ng-src={{HeadProfile[currentUser.get("username")]}} />

              <div class="chat-bubble right">

                <div class="message" ng-bind-html="m.get('Content')">
                </div>

                <div class="message-detail">
                  <span am-time-ago="m.createdAt">></span>

                </div>

              </div>

            </div>

            <div class="cf"></div>

          </div>
        </ion-content>

        <form name="sendMessageForm" ng-submit="sendMessage()" novalidate>
          <ion-footer-bar class="bar-stable item-input-inset message-footer" keyboard-attach>
            <label class="item-input-wrapper">
              <textarea ng-model="input" value="" placeholder="Send {{toUser.get('username')}} a message..." required minlength="1" maxlength="1500" msd-elastic></textarea>
            </label>
            <div class="footer-btn-wrap">
              <button class="button button-icon icon ion-android-send footer-btn" type="submit"
                      ng-disabled="!input || input === ''">
              </button>
            </div>
          </ion-footer-bar>
        </form>

      </ion-view>
    </script>


    <script id="templates/request.html" type="text/ng-template">
      <ion-view>

        <ion-header-bar class="bar-style bar ">
          <a href='#/tab/account'><button class="button button-clear button-text ion-ios-arrow-back">&nbsp back</button>
          </a>
          <h2 class="title rest-bar">Request</h2>
          <button class="button button-clear icon ion-log-in" ng-click="Refresh()"></button>

        </ion-header-bar>

        <ion-content  ng-init="Refresh()">
          <ion-refresher
              pulling-text="Pull to refresh..."
              on-refresh="Refresh()">
          </ion-refresher>
          <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="x in reqs">
              <img src={{HeadProfile[x.get('requesterName')]}}>
              <h2 >{{x.get("requesterName")}}</h2>
              <div class="">
                <p>{{x.get("itemName")}}</p>
                <button class="button button-clear button-text ion-ios-close-outline choice" ng-click="reqs.splice($index,1)"></button>
                <button class="button button-clear button-text ion-ios-checkmark-outline choice" ng-click="Accept(x,$index)"></button>
              </div>
            </ion-item>
          </ion-list>

        </ion-content>
      </ion-view>
    </script>

    <script id="templates/record.html" type="text/ng-template">
      <ion-view>

        <ion-header-bar class="bar-style bar ">
          <a href='#/tab/account'><button class="button button-clear button-text ion-ios-arrow-back">&nbsp back</button>
          </a>
          <h2 class="title rest-bar">Record</h2>
        </ion-header-bar>

        <ion-content  ng-init="Refresh()">
          <ion-refresher
              pulling-text="Pull to refresh..."
              on-refresh="Refresh()">
          </ion-refresher>
          <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="x in getItems">
              <img src={{x.get('ImageArry')[0].url()}}></img>
              <h2 >{{x.get("Title")}}</h2>
              <div class="">
                <p>{{x.get("Owner").get("username")}}</p>
              </div>
            </ion-item>
            </ul>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/offering.html" type="text/ng-template">
      <ion-view>

        <ion-header-bar class="bar-style bar ">
          <a href='#/tab/account'><button class="button button-clear button-text ion-ios-arrow-back">&nbsp back</button>
          </a>
          <h2 class="title rest-bar">Offering</h2>
        </ion-header-bar>

        <ion-content  ng-init="Refresh()">
          <ion-refresher
            pulling-text="Pull to refresh..."
            on-refresh="Refresh()">
          </ion-refresher>
          <ion-list>
            <ion-item class="item item-thumbnail-left" ng-repeat="x in lentItem"  ng-click="eventDetail(x.id)">
              <img ng-repeat="y in x.get('ImageArry')" src={{y.url()}}></img>
              <h2 >{{x.get("Title")}}</h2>
              <div class="">
                <p>{{x.get("Owner").get("username")}}</p>
              </div>
            </ion-item>
          </ion-list>
        </ion-content>
      </ion-view>
    </script>

    <script id="templates/Register-modal.html" type="text/ng-template">
      <ion-modal-view>
      <ion-header-bar class="bar  bar-style">
        <h1 class="title rest-bar">Join your neighborhood!</h1>
          <button class="button button-clear" ng-click="closeModal()"><i class='ion-close-round'></i></button>
      </ion-header-bar>
        <ion-content>
        <div class="list list-inset">
          <label class="item item-input">
            <input type="text" placeholder="Enter your Address" ng-model="newUser.address">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Enter your E-mail" ng-model="newUser.email">
          </label>
          <label class="item item-input">
            <input type="text" placeholder="Enter your username" ng-model="newUser.username">
          </label>
          <label class="item item-input">
            <input type="password" placeholder="Enter your password" ng-model="newUser.password">
          </label>
        <div class="col">
          <button id='sign-button' class="button button-block button-outline button-calm" ng-click="SignUp(newUser)">
                 Sign Up
          </button>
        </div>
        </div>
        </ion-content>
      </ion-modal-view>
    </script>

<feature name="Camera">
    <param name="ios-package" value="CDVCamera">
</feature>

    <script type="text/javascript" src="js/main.js"></script>

  </body>

</html>
